<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng của bạn</title>
    <link rel="stylesheet" href="../css/gioHang.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header_logo">
                <a href="GioHang.html">
                    <img src="../image/logo.png" alt="">
                </a>
            </div>
            <div class="header_information">
                <ul>
                    <li><a href="TrangChu.html">Trang chủ</a></li>
                    <li><a href="ThanhToan.html">Thanh toán</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h1>Giỏ hàng của bạn</h1>
            <div class="content_left--main">
                <!-- Cart items will be displayed here -->
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>

